











<div class="footer">

    <div class="top">
        <p class="address">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam amet vero autem modi corrupti eum dolorum 
        </p>
         <div class="aa">
              <a href="tel:08062295161">08062295161</a>
        <a href="mailto:pastorobclem@gmail.com">|   pastorobclem@gmail.com</a>
        </div>
    </div>
    <div class="ar">
        <p>&copy;2025 Revival Assembly Abuja. All Right Reserved. Site designed by <a href="">Destty Nelly</a></p>
    </div>

    <div class="social">
        <a href="#" class="social-icon facebook"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social-icon instagram"><i class="fab fa-instagram"></i></a>
        <a href="#" class="social-icon twitter"><i class="fab fa-twitter"></i></a>
        <a href="#" class="social-icon youtube"><i class="fab fa-youtube"></i></a>
    </div>
</div>