











<div class="footer">

    <div class="top">
        <p class="address">
            1-7, Revival Close, Off Cocoa Industrial Road, Cocoa Bus Stop Ogba Ikeja Ikeja, Lagos 100001
        </p>
         <div class="aa">
              <a href="tel:09055511930">0905 551 1930</a>
        <a href="mailto:revivalassembly@gmail.com">|   revivalassembly@gmail.com</a>
        </div>
    </div>
    <div class="ar">
        <p>&copy;2025 Revival Assembly. All Right Reserved. Site designed by <a href="">Destty Nelly</a></p>
    </div>

    <div class="social">
        <a href="https://www.facebook.com/RevivalAssembly" target="_blank" class="social-icon facebook"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/officialrevivalassembly/" class="social-icon instagram" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://x.com/RevivalAssembly" class="social-icon twitter" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.youtube.com/@RevivalAssembly" class="social-icon youtube" target="_blank"><i class="fab fa-youtube"></i></a>
    </div>
</div>