<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/Revival created logo.png">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Revival Abuja</title>
</head>
<body>
    

    <header>
        <div class="logo">
          <a href="/"> <abbr title="Revival Assembly"><img src="/images/Revival created logo.png" alt=""></abbr> </a>
        </div>
        <div class="ham">
           <abbr title="Open Hamburger"><img src="/images/hamburger-svgrepo-com (1).png" alt="" class="hamm"></abbr> 
        </div>
        <nav>
            <ul>
                <li><a  href="/">Home</a></li>
                <li><a href="/Sermon">Sermons</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/testimonies">Stories/Testimonies</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a class="onpage" href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>

            <div class="joinbtn">
                
            <button class="give">Give</button>
            </div>
        </nav>
    </header>





    <%- include("_giving") %>

    






     <!-- Hero Section -->
     <section class="hero">
        <div class="overlay">
            <h1>Welcome to Our Church</h1>
            <p>A place of faith, hope, and love. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo ad est repudiandae, aspernatur assumenda animi consequatur veniam nulla ex nisi debitis dignissimos voluptatum nostrum eum necessitatibus iusto adipisci eaque obcaecati!</p>
        </div>
        <!-- <div class="churchi">
            <img src="/images/panorama-of-church-interior.png" alt="">
        </div> -->
    </section>

    <!-- Mission & Vision -->
    <section class="content">
        <h2>Our Mission & Vision</h2>
        <p>To spread the love of Christ and create a community where everyone feels welcomed and valued.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid ea voluptatibus veniam vitae explicabo blanditiis, ducimus beatae dolorum rerum pariatur molestias earum ipsam eius ut repellendus magni. Rem, sed adipisci!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates totam itaque dolorum sed voluptatum similique quas accusamus temporibus ad officiis? Et optio reprehenderit vel reiciendis quisquam excepturi. Repellat, quia ducimus.
        </p>
    </section>

    <!-- Leadership Team -->
    <section class="team">
        <h2>Meet Our Leaders</h2>
        <div class="leaders">
                <div class="leader">
                    <img class="papa" src="/images/papa.png" alt="mike johnson">
                    <h3>Apst. Gen. Anselm M.</h3>
                    <p>General overseer</p>
                </div>

                <div class="leader">
                    <img class="mama" src="/images/mama.png" alt="mike johnson">
                    <h3>Pst. Mrs. Emmy M.</h3>
                    <p>Mama</p>
                </div>
        </div>
    </section>

    <!-- Service Times -->
    <!-- <section class="services">
        <h2>Join Us for Worship</h2>
        <p>Sundays at 9:00 AM & 11:00 AM | Wednesdays at 7:00 PM</p>
    </section> -->


    <div class="service">
        <div class="head">
            <h2 id="headp" class="headdp">Services</h2>
            <p class="boddyp">At Revival Assembly Abuja, our services have two unique expressions of worship, with the same, powerful, Bible-centric teaching.</p>
        </div>
        <div class="bodyt">
            <section class="serone">
                <p class="seheadd">Sunday Service</p>

                <img src="/images/choir re image2.png" alt="">

                <!-- <section class="btt">
                    <p>The Word</p>
                    <p>8:30am</p>
                </section> -->
            </section>

            <section class="serone">
                <p class="seheadd">Wednesday Service</p>

                <img src="/images/choir re image1.png" alt="">

                <!-- <section class="btt">
                    <p>Bible Study</p>
                    <p>8:30am</p>
                </section> -->
            </section>
        </div>

           
        
    </div>

    <!-- Get Involved -->
    <section class="get-involved">
        <h2>Be a Part of Our Family</h2>
        <p>Join our community and serve in different ministries.</p>
        <a href="/contact" class="btn"><button>Get Involved</button></a>
    </section>











    <%- include("_footer") %>



   <script src="/js/giveo.js"></script>
    <script src="/js/all.js"></script>
   
    
    <script src="https://js.paystack.co/v1/inline.js"></script>



</body>
</html>