<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/Revival created logo.png">
    <link rel="stylesheet" href="/css/blog.css">
    <link rel="stylesheet" href="/css/all.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Revival Abuja</title>
</head>
<body>
    

    <header>
        <div class="logo">
          <a href="/"> <abbr title="Revival Assembly"><img src="/images/Revival created logo.png" alt=""></abbr> </a>
        </div>
        <div class="ham">
           <abbr title="Open Hamburger"><img src="/images/hamburger-svgrepo-com (1).png" alt="" class="hamm"></abbr> 
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/Sermon">Sermons</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/testimonies">Stories/Testimonies</a></li>
                <li><a class="onpage" href="/blog">Blog</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>

            <div class="joinbtn">
                
            <button class="give">Give</button>
            </div>
        </nav>
    </header>







    <div class="giving">
        
        <form >

            <div class="close">
                <i class="fa fa-close"></i>
            </div>


            <label for="name">Full Name:</label>
            <input type="text" name="name" id="name" placeholder="fullname"><br>

            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="email"><br>

            <label for="phonenumber">Phone Number (optional)</label>
            <input type="text" name="phonenumber" id="number" placeholder="phone number"><br>

            <label for="amount">Amount</label>
            <input type="text" name="amount" id="amount" placeholder="Enter amount"><br>

            <label for="type">Giving Type</label>
            <select name="givingtype" id="type" onchange="changeBgColor()">
                <option value="empty">--select your giving type</option>
                <option value="offering">Offering</option>
                <option value="tithe">Tithe</option>
                <option value="seed"> Seed</option>
            </select> <br>

            <section class="thanks">
                <select name="choose" id="choose">
                    <option value="Empty">--To where</option>
                    <option value="S Pastor">Pastor</option>
                    <option value="orphange">Orphange</option>
                    <option value="widows">Widows</option>
                </select>
            </section>

            <button class="send" type="button" onclick="payWithPaystack()">Send</button>
        </form>
    </div>

   





  <div class="blog">

    <div class="search">
        <form action="" onsubmit="return false;">
            <input type="text" id="searchInput" placeholder="Search topic here">
            <i class="fa-solid fa-magnifying-glass"></i>
        </form>
    </div>
    
    <!-- Blog 1 -->
    <div class="d-blog">
        <div class="blog-post">
            <div class="img">
                <img src="https://scontent.fabv2-1.fna.fbcdn.net/v/t39.30808-6/476915517_1039703324847993_1747298602309459111_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeF6GRQikGbgTrOFNSQhw1gSjv8H9eta3BiO_wf161rcGAy4C00UYOoBI0Etxt4s7kn6c-nlACajYDLoGwtjSfBA&_nc_ohc=u3mWutnOxMAQ7kNvgHSUVuH&_nc_oc=AdhPr5Ez-SIXyMEc0YkEifjMGhwPPEk-T41XJuss6jVABX2QGEekXBOqMUUmde5ebiU&_nc_zt=23&_nc_ht=scontent.fabv2-1.fna&_nc_gid=AepXK-Rcv9mehgIMY3qEFl3&oh=00_AYAPPoNL60NQ3CqW2Hi153TkO1kO3SLAEC_EZfVWv_-4uw&oe=67C3C92D" alt="">
            </div>
            <div class="blog-p">
                <p class="topic">The spirit of Jesus</p>
                <p class="few">Lorem ipsum, dolor sit amet consectetur adipisicing elit...</p>
                <div class="two-d">
                    <div class="profile">
                        <img src="https://scontent.fabv2-1.fna.fbcdn.net/v/t39.30808-6/476915517_1039703324847993_1747298602309459111_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeF6GRQikGbgTrOFNSQhw1gSjv8H9eta3BiO_wf161rcGAy4C00UYOoBI0Etxt4s7kn6c-nlACajYDLoGwtjSfBA&_nc_ohc=u3mWutnOxMAQ7kNvgHSUVuH&_nc_oc=AdhPr5Ez-SIXyMEc0YkEifjMGhwPPEk-T41XJuss6jVABX2QGEekXBOqMUUmde5ebiU&_nc_zt=23&_nc_ht=scontent.fabv2-1.fna&_nc_gid=AepXK-Rcv9mehgIMY3qEFl3&oh=00_AYAPPoNL60NQ3CqW2Hi153TkO1kO3SLAEC_EZfVWv_-4uw&oe=67C3C92D" alt="">
                        <p class="profile-name">Apst. Gen. Anselm M.</p>
                    </div>
                    <p class="date">FEB 2, 2025</p>
                </div>
            </div>
        </div>
    </div>
    
 
    
    

  </div>









  <div class="footer">

    <div class="top">
        <p class="address">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam amet vero autem modi corrupti eum dolorum 
        </p>
         <div class="aa">
              <a href="tel:08062295161">08062295161</a>
        <a href="mailto:pastorobclem@gmail.com">|   pastorobclem@gmail.com</a>
        </div>
    </div>
    <div class="ar">
        <p>&copy;2025 Revival Assembly Abuja. All Right Reserved. Site designed by <a href="">Destty Nelly</a></p>
    </div>

    <div class="social">
        <a href="#" class="social-icon facebook"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social-icon instagram"><i class="fab fa-instagram"></i></a>
        <a href="#" class="social-icon twitter"><i class="fab fa-twitter"></i></a>
        <a href="#" class="social-icon youtube"><i class="fab fa-youtube"></i></a>
    </div>
</div>







<script>
    document.getElementById("searchInput").addEventListener("keyup", function() {
        let searchText = this.value.toLowerCase();
        let blogs = document.querySelectorAll(".d-blog");
    
        blogs.forEach(blog => {
            let topic = blog.querySelector(".topic").textContent.toLowerCase();
    
            if (topic.includes(searchText)) {
                blog.style.display = "block"; // Show if matched
            } else {
                blog.style.display = "none"; // Hide if not matched
            }
        });
    });
    </script>
    


   

 <script src="/js/giveo.js"></script>
    <script src="/js/all.js"></script>
   
    
    <script src="https://js.paystack.co/v1/inline.js"></script>

</body>
</html>