<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/Revival created logo.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/all.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>Revival Abuja</title>
</head>
<body>



    <header>
        <div class="logo">
          <a href="/home"> <abbr title="Revival Assembly"><img src="/images/Revival created logo.png" alt=""></abbr> </a>
        </div>
        <div class="ham">
           <abbr title="Open Hamburger"><img src="/images/hamburger-svgrepo-com (1).png" alt="" class="hamm"></abbr> 
        </div>
        <nav>
            <ul>
                <li><a class="onpage" href="/">Home</a></li>
                <li><a href="/Sermon">Sermons</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/testimonies">Stories/Testimonies</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>

            <div class="joinbtn">
                
            <button class="give">Give</button>
            </div>
        </nav>
    </header>






    <div class="giving">
        
        <form >

            <div class="close">
                <i class="fa fa-close"></i>
            </div>


            <label for="name">Full Name:</label>
            <input type="text" name="name" id="name" placeholder="fullname"><br>

            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="email"><br>

            <label for="phonenumber">Phone Number (optional)</label>
            <input type="text" name="phonenumber" id="number" placeholder="phone number"><br>

            <label for="amount">Amount</label>
            <input type="text" name="amount" id="amount" placeholder="Enter amount"><br>

            <label for="type">Giving Type</label>
            <select name="givingtype" id="type" onchange="changeBgColor()">
                <option value="empty">--select your giving type</option>
                <option value="offering">Offering</option>
                <option value="tithe">Tithe</option>
                <option value="seed"> Seed</option>
            </select> <br>

            <section class="thanks">
                <select name="choose" id="choose">
                    <option value="Empty">--To where</option>
                    <option value="S Pastor">Pastor</option>
                    <option value="orphange">Orphange</option>
                    <option value="widows">Widows</option>
                </select>
            </section>

            <button class="send" type="button" onclick="payWithPaystack()">Send</button>
        </form>
    </div>

    











    <div class="main">
        <div class="over">
            <div class="d-t">
                <img src="/images/Revival created logo.png" alt="">
                <h2>Salvation is here join our community now</h2>
                <p>This is the place of hope, meaning and purpose. Visit, became a part of a bigger movement  that os changing lives</p>

                <a href="/contact"><button>Join Church</button></a>
            </div>
        </div>
    </div>

    <div class="up">
        <img src="/images/panorama-of-church-interior.png" alt="">

        <div class="uptwo">
            <h1>Building a Vibrant, dynamic, spirit filled and properous Christain</h1>

        <p class="sab">Revival Assembly Abuja is a faith community that exists to share the Word of God and the salvation that is found only through Jesus. To walk alongside one another, through both their burdens and their joys. We exist for you. No matter where you’re at in life, at ACC, there’s a home for you here. </p>
        </div>
        
    </div>

    <!-- <div class="BS">
        <div class="text">
            <h1>Bible Study</h1>
            <p>Far far away or want to </p>
        </div>
        <div class="TB">
            <div class="time">
                <section class="days">
                    <h1>30</h1>
                    <p>Days</p>
                </section>
                <section class="hours">
                    <h1>6</h1>
                    <p>Hours</p>
                </section>
                <section class="minutes">
                    <h1>50</h1>
                    <p>Minutes</p>
                </section>
                <section class="seconds">
                    <h1>30</h1>
                    <p>Seconds</p>
                </section>
            </div>
            <div class="btn">
                <button>Events Details</button>
            </div>
        </div>
    </div> -->
    


    <div class="service">
        <div class="head">
            <h2 id="headp" class="headdp">Services</h2>
            <p class="boddyp">At Revival Assembly Abuja, our services have two unique expressions of worship, with the same, powerful, Bible-centric teaching.</p>
        </div>
        <div class="bodyt">
            <section class="serone">
                <p class="seheadd">Sunday Service</p>

                <img src="/images/panorama-of-church-interior.png" alt="">

                <section class="btt">
                    <p>The Word</p>
                    <p>8:30am</p>
                </section>
            </section>

            <section class="serone">
                <p class="seheadd">Wednesday Service</p>

                <img src="/images/panorama-of-church-interior.png" alt="">

                <section class="btt">
                    <p>Bible Study</p>
                    <p>8:30am</p>
                </section>
            </section>
        </div>

           
        
    </div>






    <div class="pictures">
        <img src="https://scontent.fabv3-2.fna.fbcdn.net/v/t39.30808-6/479934365_1044990494319276_2693928070103464621_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeHPE_IjR3gGBJAjIWq72BVlYp_2QmP_8fNin_ZCY__x8zCFM3OrgFP9mwJfTym5TjCAWgbuoxPzMVOdJrlip3zl&_nc_ohc=lhefDcItltkQ7kNvgEgZ2hq&_nc_oc=Adice1rmr5CnLIbaNnstcHPQtD5OFZZtOiYyn78S1WBKqbEoF5kU-TtpsVI8EVdhMbE&_nc_zt=23&_nc_ht=scontent.fabv3-2.fna&_nc_gid=ATyetiMu7eFf2qXzFmgdVuB&oh=00_AYA4OX4Hl0318gOYoCgnvribq3y8JriAnfIisYAsa_tkIQ&oe=67C3B3BF" alt="">

        <img src="https://scontent.fabv3-1.fna.fbcdn.net/v/t39.30808-6/480176796_1044971884321137_266617209274766288_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeFqyrRs9zAahsY659DpwUNetQb4rsCLmNC1BviuwIuY0OLwIk-7oP0F62YP_M9LEdYsC6a1MehBy06b2bZIpUcO&_nc_ohc=2JeEJVAHPNcQ7kNvgECyDKn&_nc_oc=AdhLE9RvwyJ6Ml5qic3EXxrOjWwt553tCXZxrv1i6phva0HtPhbwROWKPyCndPYtFDQ&_nc_zt=23&_nc_ht=scontent.fabv3-1.fna&_nc_gid=AIgjg7KH8T_bCze10x6rEns&oh=00_AYAKgSsau6IqCHolIQUutkDn9C5yNoLXfOEEOpMe3vVTCw&oe=67C39BF1" alt="">

        <img src="https://scontent.fabv3-1.fna.fbcdn.net/v/t39.30808-6/481330345_1044970330987959_2316797106171892555_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeEgbfUxqg1cFGJ1g5hFweQnLLjpVZsWiaYsuOlVmxaJprUSPEzyQwj0S_BuBxxQyfhY-dwrW9sTabDPCf9WT24L&_nc_ohc=iz8uofYORUEQ7kNvgEO_-Ix&_nc_oc=AdjH0TmfN3IxvYJVMQewuXiDJx8-lLreMS0bEA_6e-4n3wW8PiWOHMA8L-iiDT3P5Ww&_nc_zt=23&_nc_ht=scontent.fabv3-1.fna&_nc_gid=AE6mPPGheMzOTHURP6aFuZr&oh=00_AYC3FmhV1D65wf2GUcRc1WZoVHIw3R5B-6zCsybxlB2Ykg&oe=67C3AB36" alt="">

        <img src="https://scontent.fabv3-1.fna.fbcdn.net/v/t39.30808-6/480480191_1044970217654637_8375162138464357943_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeG0gHHfeiOK-luDW2SR00v0ymEmi4uid8PKYSaLi6J3w_srGiIYyxEar2bEip8THx7QOCClAswmUghCqxz9XV-M&_nc_ohc=5ragJ5gg2vsQ7kNvgFeSoUM&_nc_oc=AdideiytyHrlZrkJD9NDmlR4V5QktNcrBNqjNJxVd3ebELQ3HTVcjzb9U84hX-k13sg&_nc_zt=23&_nc_ht=scontent.fabv3-1.fna&_nc_gid=AwNhOayJN4Afin9ZDUxTVia&oh=00_AYBOHCVAfJhyWAHXDbzs25Zv0kPHabS_qYyVMJId7IZFuw&oe=67C3C159" alt="">

        <img src="https://scontent.fabv3-2.fna.fbcdn.net/v/t39.30808-6/480226989_1039678821517110_7221329909041651749_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeEn6Cy1K2UTXUrDxK16gPL1ZErkNfC3rkpkSuQ18LeuSrcHQBmnVDYqT9-fumVI4ENibkqyHmduGyYbbA8ju7qm&_nc_ohc=Ta1GdPz5ds8Q7kNvgE8Wn5R&_nc_oc=AdijqMTXRe5YM8vt4MPXiIaXYNMs0fCwv7F_4XM2ipFI47cv9oV-pneijDqzlhZlWGw&_nc_zt=23&_nc_ht=scontent.fabv3-2.fna&_nc_gid=AYWRbQfSFo8_0E3ovkiNuxt&oh=00_AYDp5lgGTlmEdphMQNHTqIz461iX_Rmt8RFezOuhYiLZxg&oe=67C3BB4C" alt="">

        <img src="https://scontent.fabv3-1.fna.fbcdn.net/v/t39.30808-6/480224248_1039678781517114_1428269084459322787_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeE6aV1h_kAF-Ms2-V8bLu0XfIGVm3BWXsJ8gZWbcFZewq6-L1yV3qMvom9MnxJkGyrHpE4OOsPcUmOdgPyfpamq&_nc_ohc=u7eOpNHjMB8Q7kNvgF9KiOE&_nc_oc=AdjwQTE0VBvB_90BJ2I1oaxO7RNvRvyDdlR46HdzeZJ_CzZP01YaPImaOq9QnYUkhDA&_nc_zt=23&_nc_ht=scontent.fabv3-1.fna&_nc_gid=AcWP2Ph_9EDjwiIhGjWc3p2&oh=00_AYA9lcD59AafXtb2SCZ44y1IbRw6prU-Fmie8KsuNAXLQg&oe=67C3BC20" alt="">
            
        <img src="https://scontent.fabv3-1.fna.fbcdn.net/v/t39.30808-6/480440436_1039678684850457_3319446621332123741_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeFpxKsY-U2Acr_K2pDUnyIzJd4roUumQv4l3iuhS6ZC_rW-lKW20XxosHDLxe0LbW-7UEmcLWiwiB0hau05N-wv&_nc_ohc=-H-ry94NM_EQ7kNvgGwSGyW&_nc_oc=AdjWMneAiO0yx4Z2kMYuzKodWtQNfHOaReoSyCfur5LEmBUzAk7I1oYmYAlHPo9kChQ&_nc_zt=23&_nc_ht=scontent.fabv3-1.fna&_nc_gid=A3Uo4hto8KlqwAXZuKQ6A4r&oh=00_AYAnguswcdHDV38yupPFATzJcnD8Lxc5RtaN43KPuAyZew&oe=67C39BA6" alt="">
            
        <img src="https://scontent.fabv3-2.fna.fbcdn.net/v/t39.30808-6/480357809_1039668271518165_2479080691569180559_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeH4oHYx567mVlA54SE-f07jB3GxaGIwOu8HcbFoYjA6725lc6Ezu9BoKNLf5id22zVInlTQza8LKOLwe3SPNMiO&_nc_ohc=gvt8wkVitKgQ7kNvgGHVUej&_nc_oc=AdiWE9YQkxg8tLBjNYTKKCHhmJBg89_SIGFn_q6CtCAqUVuBCrh_hMsCmyfiowM0pfM&_nc_zt=23&_nc_ht=scontent.fabv3-2.fna&_nc_gid=ANtPuLLyOHioPi4Lszwy9lm&oh=00_AYBLPxMecyTyzRlHqT3DOqmtBRZQya6WaNlRJlXhGRSrlg&oe=67C3A42C" alt="">


        <div class="bttn">
            <a href=""><button>see more</button></a> 
        </div>
    </div>



<div class="quotes">

    <p class="headdp">Quotes</p>

    <div class="slider-container">
        <button class="nav-btn left">&#10094;</button>
        <div class="slider" id="slider"></div>
        <button class="nav-btn right">&#10095;</button>
    </div>

    <div class="bttn">
        <a href=""><button>see more</button></a> 
    </div>

   
</div>
    
   





    <div class="upcoming">
        <h1 class="headdp">Upcoming</h1>

        <div class="d-upcome">
            <div class="events">
                <section>
                    <div>
                    <p>FEB</p>
                    <p class="num">15</p>
                    </div>
                </section>
                <p class="day">Feb 1, 2025</p>
                <p class="ab">Children's Day Celebration</p>
            </div>

            <div class="events">
                <section>
                    <div>
                    <p>FEB</p>
                    <p class="num">15</p>
                    </div>
                </section>
                <p class="day">Feb 1, 2025</p>
                <p class="ab">Children's Day Celebration</p>
            </div>

            <div class="events">
                <section>
                    <div>
                    <p>FEB</p>
                    <p class="num">15</p>
                    </div>
                </section>
                <p class="day">Feb 1, 2025</p>
                <p class="ab">Children's Day Celebration</p>
            </div>
        </div>
    </div>






    <div class="footer">

        <div class="top">
            <a href="/watch" target="_blank">Next</a>
            <p class="address">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam amet vero autem modi corrupti eum dolorum 
            </p>
             <div class="aa">
                  <a href="tel:08062295161">08062295161</a>
            <a href="mailto:pastorobclem@gmail.com">|   pastorobclem@gmail.com</a>
            </div>
        </div>
        <div class="ar">
            <p>&copy;2025 Revival Assembly Abuja. All Right Reserved. Site designed by <a href="">Destty Nelly</a></p>
        </div>

        <div class="social">
            <a href="#" class="social-icon facebook"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social-icon instagram"><i class="fab fa-instagram"></i></a>
            <a href="#" class="social-icon twitter"><i class="fab fa-twitter"></i></a>
            <a href="#" class="social-icon youtube"><i class="fab fa-youtube"></i></a>
        </div>
    </div>



     <script src="/js/giveo.js"></script>
    <script src="/js/all.js"></script>
   

     
    <script>
        const slider = document.getElementById('slider');
        const images = [
            'https://scontent.fabv3-1.fna.fbcdn.net/v/t39.30808-6/480746672_1044980860986906_8031534463190284896_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeH2US2niwruoelt0GgjntpGw5HVYt6T0ErDkdVi3pPQSkQfbjoVI0d4MLZC40LRTDNzuFDbHjOzq1Q-dev6vq52&_nc_ohc=0c7Zi4TurdAQ7kNvgFe1ava&_nc_oc=Adghga6lUTv4bk5O-QDZP9CysX2M_QBUOCtKOP6xbmbNHC_K3-__MRbu2jSWyWFcJb4&_nc_zt=23&_nc_ht=scontent.fabv3-1.fna&_nc_gid=A57ICohbuiqApbwqoAdMuuQ&oh=00_AYCUeHy7qD90lUAorG1_9YO0T0wyGTR7jASr8RVxbJ9Cxg&oe=67C3B706',

            'https://scontent.fabv3-1.fna.fbcdn.net/v/t39.30808-6/481234974_1044982390986753_1739794753821565688_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeGXmXFx35ZUe0_O_jIrEJk6-lci8zrkWbT6VyLzOuRZtFokRDQQs7ONrLcgSfQp8GI7-mhhS6zzuV4OrLxpaROa&_nc_ohc=qOndr7N7iQ4Q7kNvgEbWNlp&_nc_oc=AdjrnGpQTt7z1EOJiTGtE5EofAD68IYclQg2vFsp9WVOxKtpqQRZkqovHufXsAFXVB8&_nc_zt=23&_nc_ht=scontent.fabv3-1.fna&_nc_gid=AuJ_3Hrw2aPmjssFaphdley&oh=00_AYCcKJPR7Iukdom-ioW2H9oBBDianGSuMo__pEj38fPVmg&oe=67C39E41',

            'https://scontent.fabv3-2.fna.fbcdn.net/v/t39.30808-6/480216457_1044985310986461_9214467466918616561_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeFwUP9w9eOYT1C9yxiYXyLV0yiLzV2nZa_TKIvNXadlr1_krWB2mloL7eJe755Q9w-EBkKS36aiWCjFTYA52yUM&_nc_ohc=pPn6xUGH6McQ7kNvgFxjM6W&_nc_oc=AdhO8cEzzbdPkMpQtnp-SUQHImhvqTpc13iVfEAqVsVzN3fZzjLzRHxLVnYNCxPbO1U&_nc_zt=23&_nc_ht=scontent.fabv3-2.fna&_nc_gid=AsLpIOeffJ_5XadPDYBBkW3&oh=00_AYBeGZi2fzBYmHiDQ2ZMS2rgCGN4BfJbwn0XS9WdXSpmaQ&oe=67C3B39C',

            'https://scontent.fabv3-1.fna.fbcdn.net/v/t39.30808-6/476610878_1039711348180524_5203370462011236996_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeFroGSOR5-kx-wp6flZ8fjz4z6NadOvG03jPo1p068bTXTZ29sM50acB0G1j5rpn8ud-WUZxn0VLJFJKhb9shwd&_nc_ohc=0jHvJhLLwUQQ7kNvgG97QSO&_nc_oc=AdjTm76brCEjYuHsslrGitXc9aWe8DP9gpHtU0XHfu8d58QQJR88-ebTPZ6ygW944Nc&_nc_zt=23&_nc_ht=scontent.fabv3-1.fna&_nc_gid=AyqP_PKxHhoZFJz1ybDXBcY&oh=00_AYCk9V_5Wh1MB2Ha3oKFTUx6QDxvGBzJeR8WL-ekCgt9jQ&oe=67C3A106',

            'https://scontent.fabv3-1.fna.fbcdn.net/v/t39.30808-6/479734571_1039703891514603_7201763484274579186_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeGJOgoPYnTGaWUJJQpALEXSZhbWisTHTIxmFtaKxMdMjOeA4yGh-d7b-4jtvPbImJQXtRRI3EtoHe2pYH4NqqXa&_nc_ohc=XPjlRLqwuiAQ7kNvgFi3e6h&_nc_oc=Adgn2SbjW_ghbpEUtOvzYu6AiD6dVsritHpeYL9SDpVE5USfQBTdNayKE_DZ9T1Gpek&_nc_zt=23&_nc_ht=scontent.fabv3-1.fna&_nc_gid=APUW1KUHri34Wvm1jfuQPD7&oh=00_AYDj5-RL7iFXSmMoEn5ZkyZO9uS4krdwVeNIqv0PdGcS3w&oe=67C3AEC1',

            'https://scontent.fabv3-1.fna.fbcdn.net/v/t39.30808-6/476915517_1039703324847993_1747298602309459111_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeF6GRQikGbgTrOFNSQhw1gSjv8H9eta3BiO_wf161rcGAy4C00UYOoBI0Etxt4s7kn6c-nlACajYDLoGwtjSfBA&_nc_ohc=u3mWutnOxMAQ7kNvgHHRMA_&_nc_oc=Adj70j4IOR_LNGMLEM4i9seVk0WGt9BHyi029nS9e-t_3sjkOAZqF5e0aIyhGdO9M2c&_nc_zt=23&_nc_ht=scontent.fabv3-1.fna&_nc_gid=AbBXbDBMyjPoEid04-Qn7VQ&oh=00_AYDfh5CSV1dWEfpGPcVUL1mFs6_QIQsQYPxXMZln7BRGfg&oe=67C390ED'
        ];
        
        function loadImages() {
            images.forEach(src => {
                let img = document.createElement('img');
                img.src = src;
                slider.appendChild(img);
            });

            // Duplicate images to create infinite scrolling effect
            images.forEach(src => {
                let img = document.createElement('img');
                img.src = src;
                slider.appendChild(img);
            });
        }
        
        loadImages();
       
        let position = 0;
        let isHolding = false;
        let scrollDirection = 0;
        let animationFrame;
        let autoMoveInterval;

        function updateSlider() {
            slider.style.transform = `translateX(${position}px)`;
        }

        function startAutoMove() {
            autoMoveInterval = setInterval(() => {
                position -= 1; // Auto-scroll speed
                if (Math.abs(position) >= slider.scrollWidth / 2) {
                    position = 0; // Reset to loop seamlessly
                }
                updateSlider();
            }, 16);
        }

        startAutoMove();

function startScrolling(direction) {
    clearInterval(autoMoveInterval); // Stop auto-scroll
    if (isHolding) return;
    isHolding = true;
    scrollDirection = direction;

    function scroll() {
        if (!isHolding) return;
        position += scrollDirection * 10; // Adjust for smoother scrolling
        if (position > 0) position = -slider.scrollWidth / 2;
        if (Math.abs(position) >= slider.scrollWidth / 2) position = 0;
        updateSlider();
        animationFrame = requestAnimationFrame(scroll);
    }

    scroll();
}


function stopScrolling() {
            isHolding = false;
            cancelAnimationFrame(animationFrame);
            startAutoMove(); // Resume auto-scroll
        }

        document.querySelector(".left").addEventListener("mousedown", () => startScrolling(1));
        document.querySelector(".right").addEventListener("mousedown", () => startScrolling(-1));
        window.addEventListener("mouseup", stopScrolling);
        window.addEventListener("mouseleave", stopScrolling);

    </script>
    
    <script src="https://js.paystack.co/v1/inline.js"></script>


</body>
</html>