<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/all.css">
    <title>404 - Page Not Found</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "poppins", sans-serif;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f8f8f8;
            text-align: center;
            padding: 20px;
        }

        .container {
            max-width: 700px;
            background: white;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            font-size: 150px;
            color: #61d701;
        }

        h2 {
            font-size: 24px;
            color: #333;
            margin-bottom: 10px;
        }

        p {
            font-size: 16px;
            color: #666;
        }

        .btn {
            display: inline-block;
            margin-top: 20px;
            padding: 10px 20px;
            background: #61d701;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            transition: 0.3s;
        }

        .btn:hover {
            background: #9eff4e;
        }

        @media (max-width: 300px){
            h1{
                font-size: 50px;
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>404</h1>
        <h2>This page cannot be found or has been deleted.</h2>
        <p>The page you’re looking for might have been removed or temporarily unavailable.</p>
        <a id="profilea" class="btn">Go Back Home</a>
    </div>


    <script>
       const storedAdminId = localStorage.getItem("adminid");
    
    if (storedAdminId) {
        document.getElementById("profilea").href = `/admin-welcome/${storedAdminId}`;
        
    }
    </script>
</body>
</html>
