<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/Revival created logo.png">
    <link rel="stylesheet" href="/css/sermons.css">
    <link rel="stylesheet" href="/css/all.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>Revival Abuja</title>
</head>
<body>
    

    <header>
        <div class="logo">
          <a href="/"> <abbr title="Revival Assembly"><img src="/images/Revival created logo.png" alt=""></abbr> </a>
        </div>
        <div class="ham">
           <abbr title="Open Hamburger"><img src="/images/hamburger-svgrepo-com (1).png" alt="" class="hamm"></abbr> 
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a class="onpage" href="/Sermon">Sermons</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/testimonies">Stories/Testimonies</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>

            <div class="joinbtn">
                
            <button class="give">Give</button>
            </div>
        </nav>
    </header>








    <div class="giving">
        
        <form >

            <div class="close">
                <i class="fa fa-close"></i>
            </div>


            <label for="name">Full Name:</label>
            <input type="text" name="name" id="name" placeholder="fullname"><br>

            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="email"><br>

            <label for="phonenumber">Phone Number (optional)</label>
            <input type="text" name="phonenumber" id="number" placeholder="phone number"><br>

            <label for="amount">Amount</label>
            <input type="text" name="amount" id="amount" placeholder="Enter amount"><br>

            <label for="type">Giving Type</label>
            <select name="givingtype" id="type" onchange="changeBgColor()">
                <option value="empty">--select your giving type</option>
                <option value="offering">Offering</option>
                <option value="tithe">Tithe</option>
                <option value="seed"> Seed</option>
            </select> <br>

            <section class="thanks">
                <select name="choose" id="choose">
                    <option value="Empty">--To where</option>
                    <option value="S Pastor">Pastor</option>
                    <option value="orphange">Orphange</option>
                    <option value="widows">Widows</option>
                </select>
            </section>

            <button class="send" type="button" onclick="payWithPaystack()">Send</button>
        </form>
    </div>






    <div class="sermon">


        <div class="live">
            <div class="d-live">



               <a href="https://www.youtube.com/embed/9_zoldQOPMo?si=buWp1ahN4ghmhMSQ" target="_blank">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/9_zoldQOPMo?si=buWp1ahN4ghmhMSQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
               </a> 



                <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/0z_zmjGubxk?si=nmQCe3DXGrjLKq_S" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->


            </div>
            <div class="nav-oo">
                
            </div>
        </div>




        <div class="prev-serm">

            <p class="headdp">Previous Sermons</p>
            <div class="serm">

          


                         <div class="d-sermon">

                            <div class="d-img">
                                <img src="https://scontent.fabv2-1.fna.fbcdn.net/v/t39.30808-6/476915517_1039703324847993_1747298602309459111_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeF6GRQikGbgTrOFNSQhw1gSjv8H9eta3BiO_wf161rcGAy4C00UYOoBI0Etxt4s7kn6c-nlACajYDLoGwtjSfBA&_nc_ohc=u3mWutnOxMAQ7kNvgHSUVuH&_nc_oc=AdhPr5Ez-SIXyMEc0YkEifjMGhwPPEk-T41XJuss6jVABX2QGEekXBOqMUUmde5ebiU&_nc_zt=23&_nc_ht=scontent.fabv2-1.fna&_nc_gid=AOr53wpVp-yGgUgpJqK-CAj&oh=00_AYAqbsxRAqgPrl7GHFfb7GvOukfqui-0v5WA7VFhKyuaTw&oe=67C3C92D" alt="">
                            </div>

                            <div class="d-text">
                                <p class="topp">The spirit of Jesus</p>

                                <p class="preach">Apst. Gen. Anselm M.</p>

                                <button class="woy">Watch on YouTube</button>
                            </div>
                        </div>

            </div>

           
        </div>
    </div>







    <div class="footer">

        <div class="top">
            <p class="address">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam amet vero autem modi corrupti eum dolorum 
            </p>
             <div class="aa">
                  <a href="tel:08062295161">08062295161</a>
            <a href="mailto:pastorobclem@gmail.com">|   pastorobclem@gmail.com</a>
            </div>
        </div>
        <div class="ar">
            <p>&copy;2025 Revival Assembly Abuja. All Right Reserved. Site designed by <a href="">Destty Nelly</a></p>
        </div>

        <div class="social">
            <a href="#" class="social-icon facebook"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social-icon instagram"><i class="fab fa-instagram"></i></a>
            <a href="#" class="social-icon twitter"><i class="fab fa-twitter"></i></a>
            <a href="#" class="social-icon youtube"><i class="fab fa-youtube"></i></a>
        </div>
    </div>




    <script>

document.addEventListener("DOMContentLoaded", function() {
    const sermonData = JSON.parse(localStorage.getItem("sermon"));

    if (sermonData) {
        const sermonContainer = document.querySelector(".sermon-container"); // The parent div where we'll insert the sermon

        const sermonDiv = document.createElement("div");
        sermonDiv.classList.add("d-sermon");

        sermonDiv.innerHTML = `
            <div class="d-img">
                <iframe src="${sermonData.iframeLink}" frameborder="0"></iframe>
            </div>
            <div class="d-text">
                <p class="topp">${sermonData.title}</p>
                <p class="preach">${sermonData.preacher}</p>
                <button class="woy" onclick="window.open('${sermonData.youtubeLink}', '_blank')">Watch on YouTube</button>
            </div>
        `;

        sermonContainer.appendChild(sermonDiv);
    } else {
        console.log("No sermon data found!");
    }
});


    </script>

<!-- <script>

document.addEventListener("DOMContentLoaded", function () {
    const iframesContainer = document.querySelector(".d-live");
    const navContainer = document.querySelector(".nav-oo");
    let iframes = document.querySelectorAll(".d-live iframe");
    let currentIndex = 0;
    let interval;

    function updateNavigation() {
        navContainer.innerHTML = ""; // Clear existing navigation
        iframes = document.querySelectorAll(".d-live iframe"); // Refresh iframe list

        iframes.forEach((iframe, index) => {
            const radio = document.createElement("input");
            radio.type = "radio";
            radio.name = "iframeNav";
            radio.id = `t${index + 1}`;
            radio.dataset.index = index;

            radio.addEventListener("change", function () {
                scrollToIframe(index);
            });

            navContainer.appendChild(radio);
        });
        document.getElementById(`t${currentIndex + 1}`).checked = true;
    }

    function scrollToIframe(index) {
        iframes.forEach((iframe, i) => {
            iframe.style.display = i === index ? "block" : "none";
        });
        currentIndex = index;
        document.getElementById(`t${currentIndex + 1}`).checked = true;
    }

    function startAutoScroll() {
        clearInterval(interval);
        interval = setInterval(() => {
            currentIndex = (currentIndex + 1) % iframes.length;
            scrollToIframe(currentIndex);
        }, 5000); // Adjust timing as needed
    }

    updateNavigation();
    startAutoScroll();

    // MutationObserver to detect new iframes
    const observer = new MutationObserver(() => {
        updateNavigation();
    });

    observer.observe(iframesContainer, { childList: true });
});

</script> -->
   


    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const iframesContainer = document.querySelector(".d-live");
            const navContainer = document.querySelector(".nav-oo");
            let iframes = document.querySelectorAll(".d-live iframe");
            let currentIndex = 0;
            let interval;

            function updateNavigation() {
                navContainer.innerHTML = "";
                iframes.forEach((iframe, index) => {
                    const radio = document.createElement("input");
                    radio.type = "radio";
                    radio.name = "iframeNav";
                    radio.id = `t${index + 1}`;
                    radio.dataset.index = index;
                    radio.addEventListener("change", function () {
                        scrollToIframe(index);
                    });
                    navContainer.appendChild(radio);
                });
                document.getElementById(`t${currentIndex + 1}`).checked = true;
            }

            function scrollToIframe(index) {
                iframesContainer.style.transform = `translateX(-${index * 33.7}%)`;
                currentIndex = index;
                document.getElementById(`t${currentIndex + 1}`).checked = true;
            }

            function startAutoScroll() {
                clearInterval(interval);
                interval = setInterval(() => {
                    currentIndex = (currentIndex + 1) % iframes.length;
                    scrollToIframe(currentIndex);
                }, 5000);
            }

            updateNavigation();
            startAutoScroll();
        });
    </script>



<script src="/js/giveo.js"></script>
    <script src="/js/all.js"></script>
   
    
    <script src="https://js.paystack.co/v1/inline.js"></script>

</body>
</html>