<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/css/all.css"> -->
    <link rel="stylesheet" href="/css/watch.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <title>Add To Cart</title>
</head>
<body>
    






   <header>
    <div class="logo">
       <a href="" class="logop"><p>Destty Nelly</p></a> 
    </div>

    <div class="nav">
        <ul>
            <li><a href="">Products</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </div>



    <div class="icons">
        <a href=""><i class="fa fa-person"></i></a>
        <i class="fa fa-bell"></i>
    </div>
   </header>

   <div class="nav2">
    <ul>
        <li><a href="">Products</a></li>
        <li><a href="">Contact</a></li>
    </ul>
</div>









   <div class="cart">

    <div class="d-carts" id="cart1">

        <p class="back" id="back1">back</p>

        <p class="itembrname" id="itembrname1">White</p>

        <img src="/images/white.png" class="cimg1" alt="watch sample image">

        <img src="/images/white.png" class="cimmg1" alt="watch sample image">

        <div class="texts" >

                <p class="itemnum">01</p>

                        <p class="itemname">White <br> Iwatch</p>
                        <p class="itemmname">Series 10</p>


                    <a class="sma"><button class="smb" id="smb1">view more <i class="fa-regular fa-arrow"></i></button></a>
        </div>


        <div class="price">
            <p class="itemprice">$700.00</p>
        </div>



        <div class="pickiamount">
            <p class="dprice">$<span class="cal">0</span></p>

            <div class="total">
                 <button class="minus">-</button>
            <input type="text" name="" id="iamount" readonly>
            <button class="add">+</button>
            </div>
           
        </div>
        



        <div class="rotate">

            <div class="ro1">45*</div>
            <div class="ro2">90*</div>
            <div class="ro3">180*</div>
            <div class="ro4">360*</div>
        </div>

       
    </div>



    <div class="d-carts" id="cart2">


        <p class="back" id="back2">back</p>

        <p class="itembrname itembrname2" id="itembrname2">Blue</p>

        <img src="/images/blue.png" class="cimg2" alt="watch sample image">

        <img src="/images/blue.png" class="cimmg2" alt="watch sample image">

        <div class="texts" id="texts2">

                <p class="itemnum">02</p>

                        <p class="itemname">Blue <br> Iwatch</p>
                        <p class="itemmname">Series 10s</p>


                    <a class="sma"><button class="smb" id="smb2">view more <i class="fa-regular fa-arrow"></i></button></a>
        </div>

        

        <div class="price price2">
            <p class="itemprice">$700.00</p>
        </div>



        <div class="pickiamount pickiamount2">
            <p class="dprice">$<span class="cal">0</span></p>

            <div class="total">
                 <button class="minus">-</button>
            <input type="text" name="" id="iamount" readonly>
            <button class="add">+</button>
            </div>
           
        </div>
        



        <div class="rotate rotate2">

            <div class="ro1">45*</div>
            <div class="ro2">90*</div>
            <div class="ro3">180*</div>
            <div class="ro4">360*</div>
        </div>

      
    </div>





    <div class="d-carts" id="cart3">


        <p class="back" id="back3">back</p>

        <p class="itembrname itembrname3" id="itembrname3">Black</p>

        <img src="/images/black.png" class="ciimg9" alt="watch sample image">

        <img src="/images/black.png" class="ciimmg3" alt="watch sample image">

        <div class="texts" id="texts3">

                <p class="itemnum">03</p>

                        <p class="itemname">Black <br> Iwatch</p>
                        <p class="itemmname">Series 9</p>

                        <a class="sma"><button class="smb" id="smb3">view more <i class="fa-regular fa-arrow"></i></button></a>
        </div>

        

        <div class="price price3">
            <p class="itemprice">$700.00</p>
        </div>



        <div class="pickiamount pickiamount3">
            <p class="dprice">$<span class="cal">0</span></p>

            <div class="total">
                 <button class="minus">-</button>
            <input type="text" name="" id="iamount" readonly>
            <button class="add">+</button>
            </div>
           
        </div>
        



        <div class="rotate rotate3">

            <div class="ro1">45*</div>
            <div class="ro2">90*</div>
            <div class="ro3">180*</div>
            <div class="ro4">360*</div>
        </div>
      
    </div>





    <div class="d-carts" id="cart4">

        <p class="back" id="back4">back</p>

        <p class="itembrname itembrname4" id="itembrname4">Milk</p>

        <img src="/images/milk.png" class="cimg4" alt="watch sample image">

        <img src="/images/milk.png" class="cimmg4" alt="watch sample image">

        <div class="texts" id="texts4">

                <p class="itemnum">04</p>

                        <p class="itemname">Milk <br> Iwatch</p>
                        <p class="itemmname">Series 10</p>


                    <a class="sma"><button class="smb" id="smb4">view more <i class="fa-regular fa-arrow"></i></button></a>
        </div>

        <div class="price price4">
            <p class="itemprice">$700.00</p>
        </div>



        <div class="pickiamount pickiamount4">
            <p class="dprice">$<span class="cal">0</span></p>

            <div class="total">
                 <button class="minus">-</button>
            <input type="text" name="" id="iamount" readonly>
            <button class="add">+</button>
            </div>
           
        </div>
      




        <div class="rotate rotate4">

            <div class="ro1">45*</div>
            <div class="ro2">90*</div>
            <div class="ro3">180*</div>
            <div class="ro4">360*</div>
        </div>
    </div>

   </div>







   <script>
    document.querySelector("#cart1").addEventListener("mouseover", function(){
        document.querySelector("#cart1").classList.add("active")
        document.querySelector(".cimg1").classList.add("active")
    })

    document.querySelector("#cart1").addEventListener("mouseout", function(){
        document.querySelector("#cart1").classList.remove("active")
        document.querySelector(".cimg1").classList.add("highlight")

        setTimeout(()=>{

            document.querySelector(".cimg1").classList.remove("highlight")
            }, 1000)

            
        setTimeout(()=>{

                document.querySelector(".cimg1").classList.remove("active")
                }, 1001)
    })

     


    document.querySelector("#cart2").addEventListener("mouseover", function(){
        document.querySelector("#cart2").classList.add("active")
        document.querySelector(".cimg2").classList.add("active")
    })

    document.querySelector("#cart2").addEventListener("mouseout", function(){
        document.querySelector("#cart2").classList.remove("active")
        document.querySelector(".cimg2").classList.add("highlight")

        setTimeout(()=>{

            document.querySelector(".cimg2").classList.remove("highlight")
            }, 1000)

            
        setTimeout(()=>{

                document.querySelector(".cimg2").classList.remove("active")
                }, 1001)
    })





    document.querySelector("#cart3").addEventListener("mouseover", function(){
        document.querySelector("#cart3").classList.add("active")
        document.querySelector(".ciimg9").classList.add("active")
    })

    document.querySelector("#cart3").addEventListener("mouseout", function(){
        document.querySelector("#cart3").classList.remove("active")
        document.querySelector(".ciimg9").classList.add("highlight")

        setTimeout(()=>{

            document.querySelector(".ciimg9").classList.remove("highlight")
            }, 1000)

            
        setTimeout(()=>{

                document.querySelector(".ciimg9").classList.remove("active")
                }, 1001)
    })


    document.querySelector("#cart4").addEventListener("mouseover", function(){
        document.querySelector("#cart4").classList.add("active")
        document.querySelector(".cimg4").classList.add("active")
    })

    document.querySelector("#cart4").addEventListener("mouseout", function(){
        document.querySelector("#cart4").classList.remove("active")
        document.querySelector(".cimg4").classList.add("highlight")

        setTimeout(()=>{

            document.querySelector(".cimg4").classList.remove("highlight")
            }, 1000)

            
        setTimeout(()=>{

                document.querySelector(".cimg4").classList.remove("active")
                }, 1001)
    })







    function cart1(){
        // alert("llll")

    
        document.getElementById("cart1").classList.toggle("open")
        document.querySelector(".nav").classList.toggle("active")
        document.querySelector(".nav2").classList.toggle("active")
        document.querySelector(".itembrname").classList.toggle("active")
        document.querySelector(".price").classList.toggle("active")
        document.querySelector(".cimg1").classList.toggle("active")
        document.querySelector("#back1").classList.toggle("active")
        document.querySelector(".rotate").classList.toggle("active")
        document.querySelector(".pickiamount").classList.toggle("active")
        document.querySelector(".cimmg1").classList.toggle("open")
        document.querySelector(".cimg1").classList.toggle("highlight")
        document.querySelector(".texts").classList.toggle("active")
        document.querySelector("#cart2").classList.toggle("goo")
        document.querySelector("#cart3").classList.toggle("goo")
        document.querySelector("#cart4").classList.toggle("goo")
        document.querySelector(".logop").classList.toggle("white")
        document.querySelector(".fa-person").classList.toggle("active")
        document.getElementById("smb1").innerText = "Add to cart";
        document.querySelector(".cart").classList.toggle("active")


    }
    document.querySelector("#smb1").addEventListener("click", function(){
        cart1()
    })

   


    document.querySelector("#back1").addEventListener("click", function(){

     
        document.getElementById("cart1").classList.toggle("open")
        document.querySelector(".nav").classList.toggle("active")
        document.querySelector(".nav2").classList.toggle("active")
        document.querySelector(".itembrname").classList.toggle("active")
        document.querySelector(".price").classList.toggle("active")
        document.querySelector(".cimg1").classList.toggle("active")
        document.querySelector("#back1").classList.toggle("active")
        document.querySelector(".rotate").classList.toggle("active")
        document.querySelector(".pickiamount").classList.toggle("active")
        document.querySelector(".cimmg1").classList.toggle("open")
        document.querySelector(".cimg1").classList.toggle("highlight")
        document.querySelector(".texts").classList.toggle("active")
        document.querySelector("#cart2").classList.toggle("goo")
        document.querySelector("#cart3").classList.toggle("goo")
        document.querySelector("#cart4").classList.toggle("goo")
        document.querySelector(".logop").classList.toggle("white")
        document.querySelector(".fa-person").classList.toggle("active")
        document.getElementById("smb1").innerText = "Add to cart";
        document.querySelector(".cart").classList.toggle("active")
    })



    function rat (){
        alert("hhshsh")
    }





    document.querySelector(".fa-bell").addEventListener("click", function(){
        rat()
    })










    document.querySelector("#smb2").addEventListener("click", function(){
        // alert("llll")

    
        document.getElementById("cart1").classList.toggle("goo")
        document.querySelector(".nav").classList.toggle("active")
        document.querySelector(".nav2").classList.toggle("active")
        document.querySelector(".itembrname2").classList.toggle("active")
        document.querySelector(".price2").classList.toggle("active")
        document.querySelector("#back2").classList.toggle("active")
        document.querySelector(".rotate2").classList.toggle("active")
        document.querySelector(".pickiamount2").classList.toggle("active")
        document.querySelector(".cimmg2").classList.toggle("open")
        document.querySelector(".cimg2").classList.toggle("highlight")
        document.querySelector("#texts2").classList.toggle("active")
        document.querySelector("#cart2").classList.toggle("open")
        document.querySelector("#cart3").classList.toggle("goo")
        document.querySelector("#cart4").classList.toggle("goo")
        document.getElementById("smb2").innerText = "Add to cart";
        document.querySelector(".logop").classList.toggle("white")
        document.querySelector(".cart").classList.toggle("active")


    })


    document.querySelector("#back2").addEventListener("click", function(){

        document.getElementById("cart1").classList.toggle("goo")
        document.querySelector(".nav").classList.toggle("active")
        document.querySelector(".nav2").classList.toggle("active")
        document.querySelector(".itembrname2").classList.toggle("active")
        document.querySelector(".price2").classList.toggle("active")
        document.querySelector("#back2").classList.toggle("active")
        document.querySelector(".rotate2").classList.toggle("active")
        document.querySelector(".pickiamount2").classList.toggle("active")
        document.querySelector(".cimmg2").classList.toggle("open")
        let go = document.querySelector(".cimg2").classList.toggle("highlight")
        document.querySelector("#texts2").classList.toggle("active")
        document.querySelector("#cart2").classList.toggle("open")
        document.querySelector("#cart3").classList.toggle("goo")
        document.querySelector("#cart4").classList.toggle("goo")
        document.getElementById("smb2").innerText = "Add to cart";
        document.querySelector(".logop").classList.toggle("white")
        document.querySelector(".cart").classList.toggle("active")

        go.style.backgroundColor = red
    })












    document.querySelector("#smb3").addEventListener("click", function(){
        // alert("llll")
        

  
        document.getElementById("cart1").classList.toggle("goo")
        document.querySelector("#cart2").classList.toggle("goo")
        document.querySelector("#cart3").classList.toggle("open")
        document.querySelector("#cart4").classList.toggle("goo")
        document.querySelector(".nav").classList.toggle("active")
        document.querySelector(".nav2").classList.toggle("active")
        document.querySelector(".itembrname3").classList.toggle("active")
        document.querySelector(".price3").classList.toggle("active")
        document.querySelector("#texts3").classList.toggle("active")
        document.querySelector("#back3").classList.toggle("active")
        document.querySelector(".rotate3").classList.toggle("active")
        document.querySelector(".pickiamount3").classList.toggle("active")
        document.querySelector(".ciimmg3").classList.toggle("open")
        document.querySelector(".ciimg9").classList.toggle("highlight")
        document.getElementById("smb1").innerText = "Add to cart";
        document.querySelector(".logop").classList.toggle("white")
        document.querySelector(".cart").classList.toggle("active")
        document.querySelector(".fa-person").classList.toggle("active")
        document.getElementById("smb3").innerText = "Add to cart";
    
       

    })


    document.querySelector("#back3").addEventListener("click", function(){

        document.getElementById("cart1").classList.toggle("goo")
        document.querySelector("#cart2").classList.toggle("goo")
        document.querySelector("#cart3").classList.toggle("open")
        document.querySelector("#cart4").classList.toggle("goo")
        document.querySelector(".nav").classList.toggle("active")
        document.querySelector(".nav2").classList.toggle("active")
        document.querySelector(".itembrname3").classList.toggle("active")
        document.querySelector(".price3").classList.toggle("active")
        document.querySelector("#texts3").classList.toggle("active")
        document.querySelector("#back3").classList.toggle("active")
        document.querySelector(".rotate3").classList.toggle("active")
        document.querySelector(".pickiamount3").classList.toggle("active")
        document.querySelector(".ciimmg3").classList.toggle("open")
        document.querySelector(".ciimg9").classList.toggle("highlight")
        document.getElementById("smb1").innerText = "Add to cart";
        document.querySelector(".logop").classList.toggle("white")
        document.querySelector(".cart").classList.toggle("active")
        document.querySelector(".fa-person").classList.toggle("active")
        document.getElementById("smb3").innerText = "Add to cart";
    })
















    document.querySelector("#smb4").addEventListener("click", function(){
        // alert("llll")
        

  
        document.getElementById("cart1").classList.toggle("goo")
        document.querySelector("#cart2").classList.toggle("goo")
        document.querySelector("#cart3").classList.toggle("goo")
        document.querySelector("#cart4").classList.toggle("open")
        document.querySelector(".nav").classList.toggle("active")
        document.querySelector(".nav2").classList.toggle("active")
        document.querySelector(".itembrname4").classList.toggle("active")
        document.querySelector(".price4").classList.toggle("active")
        document.querySelector("#texts4").classList.toggle("active")
        document.querySelector("#back4").classList.toggle("active")
        document.querySelector(".rotate4").classList.toggle("active")
        document.querySelector(".pickiamount4").classList.toggle("active")
        document.querySelector(".cimmg4").classList.toggle("open")
        document.querySelector(".cimg4").classList.toggle("highlight")
        document.querySelector(".cart").classList.toggle("active")
        document.getElementById("smb4").innerText = "Add to cart";
    
       

    })


    document.querySelector("#back4").addEventListener("click", function(){

        document.getElementById("cart1").classList.toggle("goo")
        document.querySelector("#cart2").classList.toggle("goo")
        document.querySelector("#cart3").classList.toggle("goo")
        document.querySelector("#cart4").classList.toggle("open")
        document.querySelector(".nav").classList.toggle("active")
        document.querySelector(".nav2").classList.toggle("active")
        document.querySelector(".itembrname4").classList.toggle("active")
        document.querySelector(".price4").classList.toggle("active")
        document.querySelector("#texts4").classList.toggle("active")
        document.querySelector("#back4").classList.toggle("active")
        document.querySelector(".rotate4").classList.toggle("active")
        document.querySelector(".pickiamount4").classList.toggle("active")
        document.querySelector(".cimmg4").classList.toggle("open")
        document.querySelector(".cimg4").classList.toggle("highlight")
        document.querySelector(".cart").classList.toggle("active")
        document.getElementById("smb4").innerText = "Add to cart";
    })









        let number = 0;
        let max = 10
        let num = document.querySelector("#iamount");
        let call = document.querySelector(".cal");
        num.value = number
    document.querySelector(".add").addEventListener("click", function(){
        // alert("hh")

    
        // num.value = number++

        if(number==10){
       num.value = max
    //    alert("Order Limit Reached")
    }else{
        num.value = number++;
    }
    })

    document.querySelector(".minus").addEventListener("click", function(){
        // alert("hh")

    
        if(number==0){
       num.value = number
    }else{
        num.value = number--;
    }

    })


   

   </script>
</body>
</html>