


header{
    margin-top: -150px;
}
.giving{
    margin-top: -150px;
}


.event-info{
    color: #fff;
    margin: auto;
    margin-top: 150px;
    width: 90%;
    max-width: 1000px;
}
.event-info img{
    width: 100%;
    height: 300px;
}